:root{
    --debug: 1px dotted gold;
    --background: #423c35;
    --statsBackground: #9c7348;
    --buttonBackground: #423c35;
    --text: #eee;
    --textReverse: #111;
    --boxHighlightNone: 0 0 1rem 6px rgba(255,255,255,0);
    --templateBorder: solid 1px var(--text);
    --desktopMenuBackground: #e1cccc;

    --tabMenuBackground: #999;
    --tabMenuButtonsTextColor: #555;
    --tabMenuFirstButtonBackground: #a6ec99;
    --tabMenuSecondButtonBackground: #97ccf6;
    --tabMenuThirdButtonBackground: #e9a85e;
    --tabMenuFourthButtonBackground: #f7d6a4;
    --tabMenuButtonsHeight: 5rem;
}

.RTXON{
    --background: #111;

    --textureMainWood: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    --textureStatsWood: url(https://images6.alphacoders.com/379/thumb-1920-379569.png);
    --textureBlackBricks: url(https://static.tildacdn.com/tild3064-3632-4562-b861-643432613463/_.png);
    --texturePinkMarble: url(http://www.zingerbugimages.com/backgrounds/red_sand_stone.jpg);
}

*{
    font-family: "Bitter", serif;
    color: var(--text);
    -webkit-tap-highlight-color: transparent;
}

* button{

    background: var(--buttonBackground);
}

body{
    background: var(--background);
    background-image: var(--textureMainWood);

}

h1{
    text-align: center;
}

strong{
    font-weight: bolder;
}

em{
    font-style: italic;
}

ul{
    list-style: none;
    margin-left: -40px;
}

#brownieTitle {
    background-color: rgba(85, 85, 85, 0.7);

    border-radius: 50px;
}

.scoreInfos{
    width: 80%;
    margin: auto;
    text-align: center;
}

.scoreInfos>hr{
    margin: 0 auto;
    width: 25%;
}

#clickableBrownie{
    transition: ease-in-out 0.2s;
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#clickableBrownie:hover{
    cursor: pointer;
}

#clickableBrownie:active{
    transform: scale(0.95);
}

#imageBrownie{
    max-width: 200px;
    margin: auto 0;
}

#statsList{

    background: var(--statsBackground);
    background-image: var(--textureStatsWood);
    border-top: var(--templateBorder);
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

#statsList li{
    text-align: center;
}

#statsList li>span{
    display: block;
    font-weight: bolder;
    font-size: 125%;
}

#statsList>.mainList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: var(--tabMenuButtonsHeight);
    margin-bottom: 0;
}

#statsList>.mainList>li{
    width: calc(100% / 2.2);
    margin-bottom: 3rem;
}

.subList>li:not(:last-child){
    margin-bottom: 0.5rem;
}

/*==============Togglable menu==============*/

#bottomMenu{
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

#menuButton{
    background: var(--tabMenuBackground);
    border-bottom: none !important;
    border-radius: 0.5rem 0.5rem 0 0;
    left: 50%;
    right: 50%;
    padding: 0.5vh 0 0.5vh 0;
    width: 20vw;
}

#menuButton>span:before{
    content: '▲';
    display: inline-block;
    color: var(--textReverse);
    transition: ease-in-out 0.2s;
}

#menuButton>span:focus:before,
#menuButton>span:active:before{
    transform: rotate(180deg);
}

#subMenu {
    color: var(--text);
    position: fixed;
    left: 0;
    right: 0;
    bottom: var(--tabMenuButtonsHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 0;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#subMenu>ul{
    position: unset;
    top: 0;
    background-color: var(--tabMenuBackground);
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    z-index: -1;
}

#subMenu>ul li{
    transition: ease-in-out 0.1s;
}

#subMenu>ul li:not(:last-child){
    margin-bottom: 2rem;
}

#subMenu>ul li:first-child{
    margin-top: 1rem;
}

#subMenu>ul li:last-child{
    margin-bottom: 1rem;
}

#subMenu>ul li>button{
    background: var(--background);
    color: var(--text);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 16px 16px;
}

#subMenu>ul li>button:active{
    transform: scale(0.95);
}

/*==============Specific submenu==============*/

#upgradesList>li,
#bonusList>li,
#skinsList>li{

    box-shadow: 2px 2px 5px var(--tabMenuButtonsTextColor);
    display: flex;
    align-items: center;
}

#upgradesList>li>button,
#bonusList>li>button,
#skinsList>li>button{
    margin-left: 10px;
    width: 8vh;
    height: 75%;
}

#upgradesList>li>div,
#bonusList>li>div,
#skinsList>li>div{
    color: var(--textReverse);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#upgradesList>li span,
#bonusList>li span,
#skinsList>li span{

    color: var(--tabMenuButtonsTextColor);
    font-weight: 100;
}

#upgradesList>li span:after,
#bonusList>li span:after,
#skinsList>li span:after{
    content: " Brownies";
}

#upgradesList>li,
#bonusList>li{
    width: auto;
    height: 10vh;
}

#upgradesList>li>button,
#bonusList>li>button{
    margin-right: 20px;
}

#upgradesList>li span,
#bonusList>li span{
    font-size: 110%;
}

ul#skinsList,
ul#optionsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skinsList>li:nth-child(2),
#optionsList>li:nth-child(2){
    margin-top: 1rem;
}

#skinsList>li{
    width: 45%;
    height: 10vh;
    margin-right: 5px;
}

#skinsList>li>button{
    margin-right: 10px;
}

#skinsList>li span{
    font-size: 90%;
}

#optionsList>li{
    text-align: center;
    width: 45vw;
    height: 7vh;
    margin: 0 5px;
}

#optionsList>li button{
    width: 75%;
    height: 100%;
}

/*==============Mobile menu==============*/

#tabMenu{
    background: var(--tabMenuBackground);
    margin: 0 0 0 -40px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#tabMenu li>button{

    transition: 0.3 ease-in-out;
    box-shadow: var(--boxHighlightNone);
    z-index: 2;
    font-weight: bold;
    font-size: 120%;
    border-radius: none;
    border: solid 1px black;
    width: calc(100vw / 4);
    height: var(--tabMenuButtonsHeight);
}

#tabMenu li:nth-child(1) button{
    background: var(--tabMenuFirstButtonBackground);
}
#tabMenu li:nth-child(1) button.activeHighlight,
#tabMenu li:nth-child(1) button:active{
    box-shadow: 0 0 1rem 3px var(--tabMenuFirstButtonBackground);
}

#tabMenu li:nth-child(2) button{
    background: var(--tabMenuSecondButtonBackground);
}
#tabMenu li:nth-child(2) button.activeHighlight,
#tabMenu li:nth-child(2) button:active{
    box-shadow: 0 0 1rem 3px var(--tabMenuSecondButtonBackground);
}

#tabMenu li:nth-child(3) button{
    background: var(--tabMenuThirdButtonBackground);
}
#tabMenu li:nth-child(3) button.activeHighlight,
#tabMenu li:nth-child(3) button:active{
    box-shadow: 0 0 1rem 3px var(--tabMenuThirdButtonBackground);
}

#tabMenu li:nth-child(4) button{
    background: var(--tabMenuFourthButtonBackground);
}
#tabMenu li:nth-child(4) button.activeHighlight,
#tabMenu li:nth-child(4) button:active{
    box-shadow: 0 0 1rem 3px var(--tabMenuFourthButtonBackground);
}

/*==============Keyframes animations==============*/

@keyframes deploySubmenu{
  from {
    height: 0px;
  }
  to {
    height: 16.55rem;
  }
}

@keyframes retractSubmenu{
  from {
    height: 16.55rem;
  }
  to {
    height: 0px;
  }
}



@keyframes deploySubmenuDesktop{
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

@keyframes retractSubmenuDesktop{
  from {
    height: 100%;
  }
  to {
    height: 0px;
  }
}

/*==============Desktop rules==============*/


#fakeAdd,
#desktopSecondColumn,
#successList{
    display: none;
}


@media screen and (min-width: 1200px){

    body{

        background: var(--background);
    }
    main{
        display: flex;
        flex-wrap: nowrap;
    }

    .scoreInfos>hr{
        width: 50%;
    }

    #clickableBrownie{
        width: 50%;
    }

    #imageBrownie{
        max-width: 250px;
    }

    #desktopFirstColumn,
    #desktopThirdColumn{

        background-image: var(--textureMainWood);
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #desktopSecondColumn{
        background-image: var(--textureBlackBricks);
        background-position:center center;
        background-repeat:no-repeat;
        background-attachment:fixed;
        position: relative;
        display: block;
        flex: 4;
        height: 98vh;
        border-left: var(--templateBorder);
        border-right: var(--templateBorder);
    }

    #statsList{
        height: 28vh;
        right: auto;
        position: unset;
    }

    #statsList>.mainList{
        width: 30vw;
        padding-bottom: 0;
        margin-bottom: 0;
    }


    #desktopOptions{
        position: absolute;
        right: 2vw;
        bottom: 0;
    }
    #desktopOptions ul{
        background: var(--desktopMenuBackground);
        border-radius: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 70px;
        padding: 5px 20px;
        margin-top: 0;
        margin-left: 0;
    }

    #desktopOptions ul>li{
        text-align: center;
        width: 60px;
    }

    #desktopOptions ul button{
        border: none;
        border-radius: 50px;
        font-weight: bold;
        height: 65px;
        width: 65px;
    }

    #desktopOptions ul button:hover{
        cursor: pointer;
    }

    #desktopOptions ul button:active{
        transform: scale(0.95);
    }

    #fakeAdd{
        display: block;
        visibility: visible;
        object-fit: contain;
        right: 0;
        height: 15vh;
        width: 90%;
        margin-left: 10%;
    }


    #shop{
        background: var(--tabMenuBackground);
        position: relative;
        height: 50vh;
        border: var(--templateBorder);
    }

    #subMenu{
        z-index: 0;
        height: calc(50vh - var(--tabMenuButtonsHeight));
        margin-bottom: var(--tabMenuButtonsHeight);
    }

    #bottomMenu,
    #subMenu{
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    #subMenu ul{
        background: var(--desktopMenuBackground);
        background-image: var(--texturePinkMarble);
        background-position:top left;
        background-repeat:repeat;
        background-attachment:fixed;
        position: relative;
    }

    #tabMenu{
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        justify-content: unset;
    }
    
    #tabMenu li>button{
        width: calc((30vw - 7px) / 3);
    }

    #menuButton,
    #tabMenu li:last-child{
        display: none;
    }
    #successList{
        visibility: visible;
        background: var(--desktopMenuBackground);
        border: var(--templateBorder);
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        right: 0;
        bottom: 0;
        height: 28vh;
    }

    #successList>h2{
        color: var(--tabMenuButtonsTextColor);
    }

    #successList>.mainList{
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        width: 90%;
        height: 20vh;
        padding-left: 0;
        margin: 0 auto;
        overflow-y: auto;
    }

    #successList>.mainList>li{
        box-shadow: 10px 2px 5px var(--tabMenuButtonsTextColor);
        display: flex;
        align-items: center;
        padding: 5px 0;
        width: auto;
        height: 5vh;
    }

    #successList>.mainList>li>img{
        width: 5vh;
        height: 5vh;
        margin-right: 20px;
    }

    #successList>.mainList>li>div{
        display: flex;
        flex-direction: column;
    }

    #successList>.mainList>li strong{
        color: var(--textReverse);
/*        text-transform: uppercase;*/
        font-size: 110%;
    }

    #successList>.mainList>li em{
        color: var(--tabMenuButtonsTextColor);
        font-size: 85%;
        width: 100%;
    }
}
    
@media screen and (min-width: 578px) and (max-width: 1199px){
    #clickableBrownie{
        width: 40%;
    }
}

    
@media screen and (max-width: 1024px){
    .scoreInfos>hr{
        display: none;
    }
}